@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');

html , body > * {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Exo', sans-serif;
}

.main {
  height: 100%;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

.header {
  background-color: rgb(170, 225, 243);
  text-align: center;
}

.main {  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    ". body ."
    "footer footer footer";
}

.header { grid-area: header; }

.footer { grid-area: footer; }

.body { 
  margin-top: 10%;
  padding-top: 5%;
  grid-area: body; 
  text-align: center;
 }

.icons {
  
  color: black;
}

.icons:hover {
  color: lightblue;
}